# Chezmoi Configuration File
# This file configures chezmoi's behavior and defines template variables

{{- $email := promptString "Git email" -}}
{{- $name := promptString "Git name" -}}
{{- $machine := promptString "Machine type (personal/work)" "personal" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    machine = {{ $machine | quote }}

[git]
    autoCommit = true
    autoPush = false

[onepassword]
    command = "op"

[diff]
    pager = "delta"
